<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




<nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(120deg, rgb(248, 244, 248), rgba(0,212,255,1) 100%);">

   
<!--- Home button starts from Here -->
    <a href="">
    <div class="example-label"></div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
          </div>
          <!-- Home Button Ends Here-->
         <button class ="link" mat-raised-button color="primary">
            <mat-icon>account_circle</mat-icon>
            <a href="" class="link" 
            routerLink="login">LOGIN</a><br />
            </button>
           
    

  
        
      
        
               
      
         

          
         

        
          
          
    